[submodule "External/SFBAudioEngine"]
	path = External/SFBAudioEngine
	url = https://github.com/sbooth/SFBAudioEngine.git
	ignore = dirty
[submodule "External/SNRHUDKit"]
	path = External/SNRHUDKit
	url = git://github.com/sonoramac/SNRHUDKit.git
	ignore = dirty
[submodule "External/Sparkle"]
	path = External/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
