<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
				<string>oga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
				<string>audio/x-ogg</string>
				<string>audio/ogg-vorbis</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OGG audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.ogg</string>
				<string>org.xiph.ogg-vorbis</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/musepack</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Musepack audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.musepack.mpc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
				<string>audio/x-mpeg</string>
				<string>audio/x-mp3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mp3</string>
				<string>audio/mpeg3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP3 audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aiff-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wave</string>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wave</string>
				<string>audio/wav</string>
				<string>audio/x-pn-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAVE audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-​audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg-4</string>
				<string>audio/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wavpack</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WavPack audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wavpack.wv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
				<string>audio/x-flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.flac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/monkeys-audio</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Monkey&apos;s audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.monkeysaudio.ape</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-speex</string>
				<string>audio/speex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Speex audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.speex.spx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mod</string>
				<string>audio/mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MOD audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mod</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/s3m</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>S3M audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.s3m</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/xm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XM audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>it</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/it</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IT audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.it</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/tta</string>
				<string>audio/x-tta</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TTA audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tta</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.iktm.Sonora</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>200</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Indragie Karunaratne and Tyler Murphy. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Sonora.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sonora Music Library</string>
			<key>UTTypeIdentifier</key>
			<string>com.sonora.sndb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SNDB</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sndb</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://getsonora.com/updates/sonora2.xml</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sonora Music Library</string>
			<key>UTTypeIdentifier</key>
			<string>com.sonora.sndb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SNDB</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sndb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGG audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogg</string>
			<key>UTTypeReferenceURL</key>
			<string>www.xiph.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
					<string>oga</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/ogg</string>
					<string>audio/x-ogg</string>
					<string>audio/ogg-vorbis</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FLAC audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.flac</string>
			<key>UTTypeReferenceURL</key>
			<string>www.xiph.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/flac</string>
					<string>audio/x-flac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Musepack audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>net.musepack.mpc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.musepack.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/musepack</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WavPack audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>com.wavpack.wv</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wavpack.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/wavpack</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Monkey&apos;s audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>com.monkeysaudio.ape</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.monkeysaudio.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ape</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/monkeys-audio</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Speex audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>org.speex.spx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.speex.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>spx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-speex</string>
					<string>audio/speex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOD audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>public.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/mod</string>
					<string>audio/x-mod</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>S3M audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>public.s3m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>s3m</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/s3m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XM audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>public.xm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/xm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IT audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>public.it</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>it</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/it</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TTA audio</string>
			<key>UTTypeIconFile</key>
			<string>filetype</string>
			<key>UTTypeIdentifier</key>
			<string>public.tta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tta</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/tta</string>
					<string>audio/x-tta</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
